<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Backbone.js Favorites</title>
  <link rel="stylesheet" href="{{url_for('static', filename='assets/css/todos.css')}}"/>
  <link rel="stylesheet" href="{{url_for('static', filename='assets/css/colorbox.css')}}"/>
</head>

<body>

  <div id="favoriteapp">

    <header>
      <h1>Favorites</h1>
      <input id="new-favorite" type="text" placeholder="What do you want to name your favorite?">
      <input id="new-favorite-address" type="text" placeholder="What's the address?">
    </header>

    <section id="main">
      <ul id="favorite-list"></ul>
    </section>

    <footer>
      Woohoo!
    </footer>

  </div>

  <div id="instructions">
    Click to display map.
  </div>

  <div id="credits">
    Based heavily on "Todos" by
    <br />
    <a href="http://jgn.me/">J&eacute;r&ocirc;me Gravel-Niquet</a>.
  </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.0/underscore-min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.0.0/backbone-min.js"></script>
        <script src="http://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
        <script src="{{url_for('static', filename='assets/js/jquery.colorbox-min.js')}}"></script>
        <script src="{{url_for('static', filename='assets/js/favorites.js')}}"></script>

  <!-- Templates -->

  <script type="text/template" id="item-template">
    <div class="view">
      <label><%- nickname %></label>
      <a class="destroy"></a>
      <a class="edit_button"></a>
    </div>
    <input class="edit" type="text" value="<%- nickname %>" placeholder="address?"/>
  </script>

  </body>
</html>
