<html>
    <body>
        <h1> Hullo! These are your favorites:</h1>
        <section id="main">
        <ul id="favorites">
            <!--This is where favorites will go-->
        </ul>
        </section>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.0/underscore-min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.0.0/backbone-min.js"></script>
        <script src="{{url_for('static', filename='assets/js/script.js')}}"></script>


    </body>
</html>
